#login #name  {
	margin: 0px;
	padding: 0px;
	height: 16px;
	width: 80px;
	border: 1px outset #1356A4;
	font-size: 12px;
	background-color: #e8f4ff;
}
#login #enter {
	background-attachment: fixed;
	background: url(../images/login.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px;
	padding: 0px;
	height: 23px;
	width: 58px;
	border: 0px solid #006699;
}

#login #password {
	margin: 0px;
	padding: 0px;
	height: 16px;
	width: 80px;
	border: 1px outset #1356A4;
	font-size: 12px;
	background-color: #e8f4ff;
}
#login #check {
	margin: 0px;
	padding: 0px;
	height: 16px;
	width: 44px;
	border: 1px outset #1356A4;
	font-size: 12px;
	background-color: #e8f4ff;
}
#login #login:link {
	color: #6FA9EB;
	text-decoration: none;
}
#login #login:visited {
	text-decoration: none;
	color: #6FA9EB;
}
#login #login:hover {
	text-decoration: none;
	color: #1356A4;
}
#login #login:active {
	text-decoration: none;
}