/* CSS Document */
.top {
	font-size: 12px;
	color: #000000;
}
.top:link {
	text-decoration: none;
}
.top:visited {
	text-decoration: none;
}
.top:hover {
	text-decoration: none;
}
.top:active {
	text-decoration: none;
}

#nav, #mtop, #mbottom {
	width: 985px;      /*内容固定宽度*/
	margin: 0px auto;  /*固定宽度且居中*/
}
#middle #allnav {
	width: 100%;    /*自适应宽度，占据整个屏幕*/
	height: 39px;
	background-color: #ff7701;
}
/*中间导航*/
#middle #nav {
	height: 39px;
}
div#middle{clear:both}
#nav ul li {
	float: left;
}
#nav ul li a {
	float: left;  /*兼容ie6*/
	padding: 0px 18px;
	height: 39px;
	line-height: 39px;
	display: block;
	font-weight: bold;
	font-size: 15px;
	color: white;
}
/*不随滚动条移动的美淘广告*/
div#adv {
	position: fixed;
	top: 300px;
	right: 0px;
}

  #header #all{
	           width:100%;  /*自适应宽度，占据整个屏幕*/
               height:33px;
			   background-color:#fbfbfb
  }
   #menu,#search{
	            width:985px;      /*内容固定宽度*/
                margin:0px auto;  /*固定宽度且居中*/
  }
  #menu{
	    height:33px;
       /* border:1px solid pink;*/
       
  }
  
  /*每项通用的样式*/
  #menu ul li{ float:left;
              line-height:33px;
              height:33px;
  
  }
  
  #menu ul li.city
  {
      width:620px;   /*改了，记得在教材中改*/
      font-weight:bold;
  }
  #menu ul li.space
  {
      margin:0px 10px;
  }
  
	/*购物车背景图像*/	 
 #menu ul li.space span{
	                     background-image:url(images/icon.gif);
						 width:18px;
						 height:33px;
						 background-position:0px -85px;
						 display:block;
						 float:left;
						 margin-top:8px;  /*背景图片和文字垂直方向对齐*/
				  
	                   }
#search ul li{
	           float:left;  
			   height:73px;
		       line-height:73px;
             }

#search ul li.logo{
	                margin-right:150px;
                  }
#search ul li.se{
	              padding-top:15px;
				  height:48px;
                }
#search input#setxt{
	                height:40px;
					line-height:40px;
					border:1px solid red;
					background-image:url(../images/search2.jpg);
					background-repeat:no-repeat;
					width:265px;   /*改了，记得在教材中改*/  
					
					padding-left:40px;
					
}
#search input#btn{
	               width:70px;   /*改了，记得在教材中改*/
                   height:42px;
		           line-height:42px;
		           background-color:#ff7701;
		           border:none;
				  
               }
#search ul li.keyword{ margin:0px 7px}
-->

 
#footer {
	clear: both;  /*浮动塌陷*/
}
#footer #allbg {
	width: 100%;    /*页脚的水平横线自适应宽度，占据整个屏幕*/
	border-top: 3px solid #ff7701;
	margin-bottom: 0px;
}
#fcontent {
	width: 985px;      /*页脚内容固定宽度*/
	margin: 0px auto;  /*固定宽度且居中*/
	height: 180px;
	margin-top: 0px;  /*ie6上下div有空白*/
}
#fcontent .con {
	float: left;
	border-left: 1px dashed #ff7701;
	width: 140px;
	padding-left: 23px;
}
#fcontent h3 {
	padding: 5px 0px
}
#fcontent p {
	text-align: center;
	clear: left;
	padding: 20px 0px
}

/*注册样式*/

/*右边div样式*/
/*左边div样式*/
#divleft{
	border:1px solid red;/*细边框样式*/
	height:900px;
	width:25%;
	margin-top:5px;
	margin-bottom:5px;
	padding:5px;
	margin-left: 50px;
	float:left;
}

#divright{
	border:1px solid #a5afc3;/*细边框样式*/
	height:900px;
	width:64%;
	margin-top:5px;
	margin-bottom:5px;
	padding:5px;
	margin-right: 50px;
 	float:right;
}

#regdivright{
	border:1px solid #a5afc3;/*细边框样式*/
	height:440px;
	width:80%;
	margin:0 auto;
	padding:5px;
  
}


</style>