
<div id="footer">
  <div id="allbg"></div>
  <!--实现水平横线-->
  <div id="fcontent">
    <div class="con">
      <h3>服务保障</h3>
      <ul>
        <li><a href="#">团购三包</a></li>
        <li><a href="#">退换货服务</a></li>
        <li><a href="#">支付方式</a></li>
      </ul>
    </div>
    <div class="con">
      <h3>获取更新</h3>
      <ul>
        <li><a href="#">邮件订阅</a></li>
        <li><a href="#">美淘QQ空间</a></li>
        <li><a href="#">RSS订阅</a></li>
      </ul>
    </div>
    <div class="con">
      <h3>移动美淘</h3>
      <ul>
        <li><a href="#">美淘团购APP</a></li>
        <li><a href="#">酒店预订APP</a></li>
        <li><a href="#">美淘电影APP</a></li>
      </ul>
    </div>
    <div class="con">
      <h3>商务合作</h3>
      <ul>
        <li><a href="#">友情链接</a></li>
        <li><a href="#">团购合作</a></li>
        <li><a href="#">开发API</a></li>
      </ul>
    </div>
    <div class="con">
      <h3>公司信息</h3>
      <ul>
        <li><a href="#">媒体报道</a></li>
        <li><a href="#">公司新闻</a></li>
        <li><a href="#">加入我们</a></li>
      </ul>
    </div>
    <div class="con">
      <h3>用户帮助</h3>
      <ul>
        <li><a href="#">答疑反馈</a></li>
        <li><a href="#">常见问题</a></li>
        <li><a href="#">往期团购</a></li>
      </ul>
    </div>
    <p>版权所有：&copy;武汉美淘网络技术有限公司  meitao.com  鄂ICP备13126822号</p>
  </div>
</div>
 <!--<div id="adv"> <img src="images/ban.jpg" width="100"  /> </div>-->
