<div style="border:1px solid red;margin-bottom:5px;">
<table width="296" height="208" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="3" bgcolor="#fcaf17" wight="258px;" height="35px;" style="font-size:20px;" align="center" >网站热卖</td>
   </tr>
   <tr><td></td></tr>
  <tr>
    <td colspan="3">
         <img src="images/week2.jpg" width="295px;">
    </td>
  </tr>
  <tr><td></td></tr>
  <tr>
      <td colspan="3">
         <img src="images/week3.jpg" width="295px;">
    </td>
  </tr>
</table>
 </div>


