{if $member=="游客"}
 <div style="border:1px solid red;margin-bottom:5px;">
<table width="296" height="170" border="0" cellpadding="0" cellspacing="0">
<form id="login" name="login" method="post" action="#" onsubmit="return lg(this)">
  <tr>
    <td colspan="3" bgcolor="#fcaf17" wight="258px;" height="35px;" style="font-size:20px;" align="center" >用户登录</td>
  <tr/>
  <tr>
    <td height="35" align="right" style="font-size:12px;">用户名：</td>
    <td colspan="2"><input name="name" type="text" style="border:1px solid #a5afc3;height:25px;line-height:25px;width:160px;"  id="name"  onmouseover="this.style.backgroundColor='#ffffff'" onmouseout="this.style.backgroundColor='#e8f4ff'" size="15" /></td>
  </tr>
  <tr>
    <td height="35" align="right" style="font-size:12px;">密码：</td>
    <td colspan="2"><input name="password" type="password" style="border:1px solid #a5afc3;height:25px;line-height:25px;width:160px;" id="password"  onmouseover="this.style.backgroundColor='#ffffff'" onmouseout="this.style.backgroundColor='#e8f4ff'" size="15" /></td>
  </tr>
  <tr>
    <td height="35" align="right" style="font-size:12px; position:relative;top:-2px">验证码：</td>
    <td colspan="2" height="25">
    <input name="check" type="text" style="position:relative;top:-8px;border:1px solid #a5afc3;height:25px;line-height:25px;width:50px;" id="check"  onmouseover="this.style.backgroundColor='#ffffff'" onmouseout="this.style.backgroundColor='#e8f4ff'" size="10" /> 
  	<input id="check2"  name="check2" type="hidden" value="" />
  	 <script>yzm(login);</script>
    <a onclick="javascript:code(login)" style="cursor:hand">换一张</a> </td>
  </tr>
  <tr>
    <td height="40" colspan="3" align="center"> 
    <input  style="width:262px; font-size:16px; height:37px; border:1px solid blue;" name="enter" type="submit" value="登录"></td>
  </tr>
  </form>
</table>
 </div>
{else}
 <div style="border:1px solid red;margin-bottom:5px;">
<table  width="296" height="190" border="0" cellspacing="0" cellpadding="0" class="all">

 <tr>
    <td bgcolor="#fcaf17" wight="258px;" height="35px;" style="font-size:20px;" align="center" >热销商品</td>
  <tr/>
<tr>
    <td align="center" valign="middle"><img src="images/good12.jpg" width="294px;" height="188px;"></td>
</tr>
</table>
</div>
{/if}