<link rel="stylesheet" href="css/newhot.css" />
<link href="css/top.css" rel="stylesheet" type="text/css" />
<link href="css/nominate.css" rel="stylesheet" type="text/css" />
<link href="css/link.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="js/createxmlhttp.js"></script>
<script language="javascript" src="js/showcommo.js"></script>
<br/>
<table width="748px;" border="0" cellpadding="0" cellspacing="0" >
	<tr>
	  <td width="321" height="33" align="center" background="images/shop_07.gif"><div class="new"><a href="index.php?page_type=nom" class="top"><img src="images/more.JPG" width="39" height="18" border="0" /></a></div>
	 </td>
	  <td width="322" height="33" align="right" background="images/shop_14.gif"><div class="hot"><a href="index.php?page_type=hot" class="top"><img src="images/more.JPG" width="39" height="18" border="0" /></a></div>
	  &nbsp;&nbsp;&nbsp;&nbsp;</td>
  </tr>
	<tr>
	  <td align="center" valign="top" style="border-right: 1px solid #f0f0f0;">
	  <table width="295" height="307" align="center" border="0" cellpadding="0" cellspacing="0">
        <!--
        	counter用于计数,执行一次加一次  
    		start，可选，开始数  
    		skip，可选，步长  
    		direction，可选，计数方向，增/减  
    		print，可选，是否输出  
    		assign，可选，counter不输出，将内容保存到assign指定的变量中 
        -->
        <!--
        	name:（必选） 是section循环的名称只是标示循环唯一的名字没有特别意义，前面没有$符号；
			loop: （必选）是在php声明中的变量名称，用来标示是循环哪一个数组（即要循环数组名）需要使用$；	
        -->
        <tr>{counter start=1 skip=1 direction=up print=false assign=count} {section name=nom_id loop=$nomarr}
          <td align="left" valign="top">
          <table width="150" height="150" align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="100" align="center" valign="middle"><a style="cursor:hand;" onclick=""><img src="{$nomarr[nom_id].pics}" width="100" height="80" alt="{$nomarr[nom_id].name}" style="border:1px solid #f0f0f0;" onclick="openshowcommo({$nomarr[nom_id].id})" /></a></td>
                </tr>
                <tr>
                  <td height="17" align="center" valign="middle">{$nomarr[nom_id].name}</td>
                </tr>
                <tr>
                  <td height="17" align="center" valign="middle">市场价：{$nomarr[nom_id].m_price}&nbsp;元</td>
                </tr>
                <tr>
                  <td height="16" align="center" valign="middle">会员价：{$nomarr[nom_id].v_price}&nbsp;元</td>
                </tr>
            </table></td>
			{counter}
          {if $count mod 2 != 0} </tr>
	    <tr> {/if}
	      {/section} </tr>
      </table></td>

		<td align="center" valign="top" style="border-left: 1px solid #f0f0f0;"><table width="295" height="307" align="center" border="0" cellpadding="0" cellspacing="0">
          <tr> {counter start=1 skip=1 direction=up print=false assign=counts}{section name=hot_id loop=$hotarr}
            <td align="left" valign="top">
            <table width="150" height="150" align="left" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="100" align="center" valign="middle"><a style="cursor:hand;" onclick=""><img src="{$hotarr[hot_id].pics}" width="100" height="80" alt="{$hotarr[hot_id].name}" style="border:1px solid #f0f0f0;" onclick="openshowcommo({$hotarr[hot_id].id})" /></a></td>
                  </tr>
                  <tr>
                    <td height="17" align="center" valign="middle">{$hotarr[hot_id].name}</td>
                  </tr>
                  <tr>
                    <td height="17" align="center" valign="middle">市场价：{$hotarr[hot_id].m_price}</td>
                  </tr>
                  <tr>
                    <td height="16" align="center" valign="middle">会员价：{$hotarr[hot_id].v_price}</td>
                  </tr>
              </table></td>
           {counter}
          {if $counts mod 2 != 0}</tr>
		  <tr> {/if}
		    {/section} </tr>
        </table></td>
</tr>
</table>

<table width="748px;" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="4" width="746px;" height="33" align="right" valign="middle"><img src="images/shop_10.gif" width="744px;" height="33" usemap="#Map" /></td>
		 
	</tr>
	<tr>
       {section name=new_id loop=$newarr}
	  <td width="145" height="185" align="left" valign="top">

       	  <table width="145" border="0" cellpadding="0" cellspacing="0" >
<tr>
               	  <td height="100" align="center" valign="middle"><img src="{$newarr[new_id].pics}" width="100" height="80" alt="{$newarr[new_id].name}" style="border: 1px solid #f0f0f0;" ></td>
            </tr>
                <tr>
               	  <td height="17" align="center" valign="middle">&nbsp;{$newarr[new_id].name}</td>
            </tr>
                <tr>
               	  <td height="17" align="center" valign="middle">市场价：{$newarr[new_id].m_price}&nbsp;元</td>
            </tr>
                <tr>
                	<td height="19" align="center" valign="middle">会员价：{$newarr[new_id].v_price}&nbsp;元</td>
            </tr>
                <tr>
                	<td height="32" align="center" valign="middle">
                	<input id="showinfo" name="showinfo" type="button" value="详细" style="width:50px; height:24px; border:1px solid blue;"   onclick="openshowcommo({$newarr[new_id].id})"/>&nbsp;
                	<input id="buy" name="buy" type="button" value="购买" style="width:50px; height:24px; border:1px solid blue;"   onclick="return buycommo({$newarr[new_id].id})" /></td>
            </tr>
       	</table>
      </td>
      {/section}
  </tr>
	 
</table>

<map name="Map" id="Map">
<area shape="rect" coords="586,8,636,27" href="index.php?page_type=new" class="lk" />
</map>