

 <div style="border:1px solid red;margin-bottom:5px;">
<table width="296" height="208" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="3" bgcolor="#fcaf17" wight="258px;" height="35px;" style="font-size:20px;" align="center" >网站公告</td>
  <hr/>
  <tr>
     
    <td colspan="3">
    	<!--
    	{section name=ids loop=$arrs}
         	<a href="#" onClick="return showme({$arrs[ids].id},'showpub.php');" >
         		<img src="images/man.JPG" width="14" height="11" border="0" />
         			{$arrs[ids].title}
         	</a>
         {/section}
         -->
         <img src="images/week1.jpg" width="295px;">
    </td>
  </tr>
   
   
  <tr>
    <td height="10" colspan="3" align="center"> 
    <a href="index.php?page_type=allpub" class="lk">>>more<<</a>
  </tr>
   
 
</table>
 </div>





 
