<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>美淘网购物商城</title>
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/table.css" />
<link rel="stylesheet" href="css/nominate.css" />
<link rel="stylesheet" href="css/pub.css" />
<link rel="stylesheet" href="css/reg.css"/>
<link rel="stylesheet" href="css/global.css"/>
<link rel="stylesheet" href="css/search.css"  />
<link rel="stylesheet" href="css/link.css" />
<link rel="stylesheet" type="text/css" href="css/image.css" />
<link rel="stylesheet" type="text/css" href="css/login.css"/>
<link rel="stylesheet" type="text/css" href="css/top.css" />
</head>
<script language="javascript" src="js/createxmlhttp.js"></script>
<script language="javascript" src="js/links.js"></script>
<script language="javascript" src="js/showcommo.js"></script>
<script language='javascript' src='js/queryform.js'></script>
<script language="javascript" src="js/shopcar.js"></script>
<script language="javascript" src="js/settle.js"></script>
<script language="javascript" src="js/search.js"></script>
<script language="javascript" src="js/info.js"></script>
<script language="javascript" src="js/login.js"></script>
<script language="javascript" src="js/top.js"></script>
<script language="javascript" src="js/image.js"></script>
<script language="javascript" src="js/check.js"></script>
 <body onLoad="javascript:register.name.focus()">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
	  <tr>
	    <td>
	    	{include file='top.tpl'}
	    </td>
	  </tr>
  </table>
  <br/>
  <!--左边部分-->
 
  <!--右边部分-->
  <div id="regdivright">
 
<table width="880" border="0" align="center" cellpadding="0" cellspacing="0">
 <form id="register" name="register" action="reg_chk.php" method="post" onSubmit="return chkinput(this)">
    <tr>
      <td width="95" height="25"><div align="right">用户名：</div></td>
      <td height="30" colspan="3" width="300px;">&nbsp;
          <input id="name" name="name" type="text" style="height:28px; width:200px;" onBlur="javascript:chkname(register)"  onMouseOver="this.style.backgroundColor='#ffffff'" onMouseOut="this.style.backgroundColor='#e8f4ff'" />
          <input id="c_name" name="c_anme" type="hidden" value="not" >
   	 </td>
     <td rowspan="8" align="right"><img src="images/regimg.png" border="0" /></td>
    </tr>
     <tr>
      <td height="10"></td>
      <td colspan="3"><div id="name1"></div></td>
      </tr>
    <tr>
      <td height="25"><div align="right">注册密码：</div></td>
      <td height="25" colspan="3">&nbsp;
          <input id="pwd1" name="pwd1" type="password"  style="height:28px; width:200px;" onBlur="javascript:chkpwd1(register)" onMouseOver="this.style.backgroundColor='#ffffff'" onMouseOut="this.style.backgroundColor='#e8f4ff'"/>&nbsp;</td>
   	 
    </tr>
    <tr>
      <td height="25"><div align="right">确认密码：</div></td>
      <td height="25" colspan="3">&nbsp;
          <input id="pwd2" name="pwd2" type="password"  style="height:28px; width:200px;" onBlur=" javascript:chkpwd2(register)" onMouseOver="this.style.backgroundColor='#ffffff'" onMouseOut="this.style.backgroundColor='#e8f4ff'"/>&nbsp;</td>
    </tr>
    
    <tr>
      <td height="25"><div align="right">真实姓名：</div></td>
      <td height="25" colspan="3">&nbsp;
          <input id="realname" name="realname" type="text"  style="height:28px; width:200px;" onBlur="javascript:chkrealname(register)" onMouseOver="this.style.backgroundColor='#ffffff'" onMouseOut="this.style.backgroundColor='#e8f4ff'"/>&nbsp;</td>
    </tr>
    <tr>
      <td height="25"><div align="right">E-mail：</div></td>
      <td height="25" colspan="3">&nbsp;
          <input id="tel" type="text" name="email"  style="height:28px; width:200px;" onBlur="javascript:chkemail(register)" onMouseOver="this.style.backgroundColor='#ffffff'" onMouseOut="this.style.backgroundColor='#e8f4ff'"/>&nbsp;</td>
    </tr>
    <tr>
      <td height="20"><div align="right">验证码：</div></td>
      <td width="150px;" height="20">&nbsp;
        <input id="yzm" type="text" name="yzm" style="height:25px; width:120px;" size="8" onBlur="javascript:chkyzm(register)" onMouseOver="this.style.backgroundColor='#ffffff'" onMouseOut="this.style.backgroundColor='#e8f4ff'"/>
      <input name="yzm2" type="hidden" value="" /></td>
      <td width="70px;" align="center" valign="middle"><script>yzm(register)</script></td>
      <td><a href="javascript:code(register)">看不清</a><div id="yzm1"></div></td>
    </tr>
    <tr>
      <td height="30" align="center" colspan="4">&nbsp;
      <input type="submit" style="height:30px; width:80px; border:1px solid blue" value="提交"/>
      &nbsp;&nbsp;
      <input type="reset" style="height:30px; width:80px; border:1px solid blue" value="重写" /></td>
    </tr>
  </form>
</table>
  </div>
    <br/>
  <!--尾部部分-->
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
    	<td>{include file='buttom.tpl'}</td>
    </tr>
 </table>

</body>
</html>



 


 
