<!--
<table width="646" height="208" border="0" cellpadding="0" cellspacing="0" background="images/shop_05.gif">
	<tr>
		<td height="175" colspan="16">&nbsp;</td>
	</tr>
	<form id="searchform" name="searchform" method="get" action="#"> 
	<tr>
	  <td colspan="14" align="right"><input name="searchtxt" type="text" id="searchtxt" value="请输入商品名称" size="30" /></td>
      <td width="76" align="center"><input id="s_search" name="s_search" type="button" value="" onclick="return showsimple()" /></td>
      <td width="192"><input id="h_search" name="h_search" type="button" value="" onclick="return openwin()" /></td>
  </tr>
  </form>
</table>
-->
<div class="container" id="idTransformView">
  <ul class="slider" id="idSlider">
    <li><img src="images/01.jpg"/></li>
    <li><img src="images/02.jpg"/></li>
    <li><img src="images/03.jpg"/></li>
    <li><img src="images/04.jpg"/></li>
    
  </ul>
  <ul class="num" id="idNum">
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
  </ul>
</div>