 
 <div id="header">
     <div id="all">   <!--背景色占据整个屏幕-->
     {if $member=="游客"}
        <div id="menu">
           <ul>
             <li class="city">武汉<a href="#">[切换城市]</a></li>
             <li class="space"><a href="#">我的美淘</a></li>
             <li class="space"><a href="login.html" target="_parent">[商品分类]</a></li>
             <li class="space"><a href="register.php" target="_parent">[注册]</a></li>
           	 <li class="space"><a id="login" href="#" target="_parent" onclick="found()">[忘记密码]</a></li>
           </ul>
        </div>
      {else}
      <div id="menu">
           <ul>
             <li class="city">武汉<a href="#">[切换城市] 欢迎您：{$member}</a></li>
             <li>美淘，每天一淘</li>
             <li class="space"><a href="#">我的美淘</a></li>
             <li class="space"><a href="index.php?page_type=shopcar" class="lk">购物车</a></li>
             <li class="space"><a href="index.php?page_type=hyzx" class="lk">会员中心</a></li>
             <li class="space"><a onclick="javascript:logout()" style="cursor:hand" id="info">安全离开</a></li>
           </ul>
        </div>  
          {/if}
     </div><!--页眉菜单结束-->
     <div id="search"> 
         <ul>
            <li class="logo"><a href="#"><img src="images/logo.jpg" width="304" height="73"/></a></li>
            <li  class="se">
                <form>
                  <input type="text" id="setxt" /><input type="button" value="搜搜"  id="btn" style="position:relative;top:0px;left:0px"/>
                </form>
            </li>
             <li class="keyword"><a href="#">旅游</a></li>
           <li class="keyword"><a href="#">酒店</a></li>
           <li class="keyword"><a href="#">kTV</a></li>
         </ul> 
     </div> <!--页眉搜索结束-->
 </div> 
<div id="middle">
  <div id="allnav">
    <div id="nav">
      <ul>
        <li><a href="index.php">首页</a></li>
        <li><a href="index.php?page_type=new" class="top">最新商品</a></li>
        <li><a href="index.php?page_type=nom" class="top">推荐商品</a></li>
        <li><a href="index.php?page_type=hot" class="top">热门商品</a></li>
        <li><a href="#">团购</a></li>
        <li><a href="#">品牌特卖</a></li>
        <li><a href="index.php?page_type=queryform" class="top">订单查询</a></li>
        <li><a href="#">品牌特卖</a></li>
        <li><div id="tm" style="padding-top:10px;font-weight: bold;font-size: 12px;color: white;"></div></li>
      </ul>
    </div>
  </div>
</div>
  
