<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>头文件</title>
</head>
<body>
<center>
<table width="1004" border="1" cellpadding="0" cellspacing="0">
  <tr>
    <td width="189px;" height="25">
    	网站首页
    </td>
    <td>
    	退出
    </td>
    </tr>
</table>
</center>
<map name="Map"><area shape="rect" coords="715,83,832,118" style="cursor:hand" href="../index.php" target="_top">
				<area shape="rect" coords="838,82,957,130" style="cursor:hand" onClick="parent.close();"></map></body>
</html>
